services:
  hytale_server:
    image: ghcr.io/YOUR_USERNAME/your-repo:main
    platform: linux/amd64
    # Uncomment below to build locally instead of using published image
    # build: .
    container_name: hytale-server
    hostname: hytale.server.internal
    ports:
      - "5520:5520/udp"
    environment:
      - WORKDIR=/app
      - HYTALE_SERVER_SESSION_TOKEN=${HYTALE_SERVER_SESSION_TOKEN:-}
      - HYTALE_SERVER_IDENTITY_TOKEN=${HYTALE_SERVER_IDENTITY_TOKEN:-}
    volumes:
      - ./hytale_data:/app
