services:
  hytale_server:
    platform: linux/amd64
    build: .
    container_name: hytale-server
    hostname: hytale.server.internal
    ports:
      - "25565:25565"
    environment:
      - WORKDIR=/app
      - HYTALE_SERVER_SESSION_TOKEN=${HYTALE_SERVER_SESSION_TOKEN:-}
      - HYTALE_SERVER_IDENTITY_TOKEN=${HYTALE_SERVER_IDENTITY_TOKEN:-}
    volumes:
      - ./hytale_data:/app
